snippet mapp "mapping (from => to) visibility name;"
mapping(${1} => ${2}) $0;
endsnippet

snippet func "function name(args) modifiers visibility  { body }"
function ${1}(${2}) $3 {
  $0
}
endsnippet
